* {
  box-sizing: border-box;
}

nav {
  background-color: darkslateblue;
  width: 100vw;
  height: 6em;
  color: white;
  display: block;
 padding: auto;
}

.h1 {
  margin-top: 6em;
  color: white;
  background-color: darkslateblue;
}